# File formats to ignore
*.zip
*.pkl

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Keep directories
!dbManager/
!dbBase/

# Keep pySpark notebooks
!pySpark/*.ipynb

# Local configuration file
*config.cf

# docx files
*.docx

# Mounting of files remotely on Mac
.DS_Store

